<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>欢迎使用</title>
     <script src="libs/jquery-1.8.3.min.js" type="text/javascript"></script>
     <script src="libs/jsrender.min.js" type="text/javascript"></script>
     <script src="js/common/common.js" type="text/javascript"></script>
     <script src="js/city/city.js" type="text/javascript"></script>
     <script id="city_template" type="text/x-jsrender">
      {{:cityId}}-{{:cityName}}
     </script>
</head>
<body>
     <h3>${name},欢迎使用!</h3>
     <div id="city"></div>
</body>
</html>
